html
  title Phil_UserSession
  head
    style
    link(type="text/css", href='css/styling.css', rel='stylesheet')
    link(type="text/css", href='css/materialize.css', media="screen,projection") 
    link(link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Economica" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  

block content
body 

nav
  .nav-wrapper
    .ul
      .li
        a(href='/') Home
      .li
        a(href='/about') About
      .li
        a(href='/logout') Logout
      .li 
        img(src='images/selfdestr.jpg', alt='LOGO', height='142', width='110', align='right', href='/about' )
.row
  .h1 WELCOME TO YOUR CYBERPOETRY PROFILE
  p HERE YOU CAN  
    a.link(href='/allposts') CHECK OUT AND COMMENT ALL CYBERPOETRY 
  .h1 POST NEW CYBERPOETRY

  form(method='post', action='/posthandler')
    row
    p TITLE of your post
      .input-field
      input.tftextinput(type='text', id='title' name='titlepostqr')
    row
    p BODY of your post
      .input-field
      input.tftextinput(type='text', id='body', name='bodypostqr', rows='10', tabindex='4')
      
    input.tfbutton(type='submit', value='Post It!')
  


  .h1 OR CONTEMPLATE YOUR OWN CYBERPOETRY 
    each post in posts
      h2  #{post.title} 
      p #{post.body}
        each comment in post.comments 
          p.err #{comment.comment_author}
          p #{comment.comment}

      section
      header
      #respond
        h2 Leave a Comment
        form#commentform(method='post', action='/commenthandler')
          p(for='comment_author') Your name  
            input.tftextinput(type='text', name='comment_author', value='', tabindex='1', required='required')
            
          p.tftextinput.required(for='email') Your email
           
            input.tftextinput.required(type='email', name='email_author', value='', tabindex='2', required='required')
           
          p.tftextinput.required(for='comment') Your message
            textarea#comment(name='comment', rows='10', tabindex='4', required='required')

          input(type='hidden', name='post_id', value=post.id)
        
          input.tfbutton(name='submit', type='submit', value='Submit comment')

script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
script(type='text/javascript', src='/js/customjquery.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')


